{% extends "base.html" %}

{% block content %}
	<div class="dashboard">
		<div class="container d-flex align-items-center justify-content-center">
			<div class="card">
				<div class="card-body">
					<div class="row justify-content-around">
					    <a href="{% url "customers" %}" class="col-3 p-5 my-5 mr-3 text-center text-white text-uppercase font-weight-bold bg-primary">
					    	<i class="fa fa-user"></i>
					    	customers
					    </a>
					    <a href="#" class="col-3 p-5 my-5 mr-3 text-center text-white text-uppercase font-weight-bold bg-success">
					    	<span class="fa fa-bed"></span>
					    	rooms
					    </a>
					    <a href="{% url "reservations" %}" class="col-3 p-5 my-5 mr-3 text-center text-white text-uppercase font-weight-bold bg-danger">
					    	bookings
					    </a>
					    <a href="#" class="col-3 p-5 my-5 mr-3 text-center text-white text-uppercase font-weight-bold bg-warning">
					    	payments
					    </a>
					    <a href="#" class="col-3 p-5 my-5 mr-3 text-center text-white text-uppercase font-weight-bold bg-secondary">
					    	meal plans
					    </a>
					    <a href="#" class="col-3 p-5 my-5 mr-3 text-center text-white text-uppercase font-weight-bold bg-dark">
					    	pos
					    </a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}